development:
  adapter: async

test:
  adapter: test

production:
  adapter: <%= ENV.fetch("CABLE_ADAPTER", "async") %>
  url: <%= ENV["REDIS_URL"] %>
  channel_prefix: reading_pro_railway_production
