<header class="admin-header">
  <div>
    <h1 class="admin-title">지문 수정</h1>
    <p class="admin-subtitle"><%= @stimulus.code || "코드 없음" %></p>
  </div>
  <div class="admin-actions">
    <%= link_to "상세", admin_stimulus_path(@stimulus), class: "admin-button" %>
    <%= link_to "목록", admin_stimuli_path, class: "admin-button" %>
  </div>
</header>

<%= render "form" %>
